<!--
 * @Author: qwelz
 * @Date: 2021-04-05 19:12:25
 * @LastEditors: qwelz
 * @LastEditTime: 2021-04-05 19:22:29
-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>登录界面</title>
        <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
        <style>
            form {
                margin-top: 200px;
            }

            button[type="submit"] {
                margin-left: 12px;
            }
        </style>
    </head>
    <body>
        <form action="/login" method="post" class="row col-md-6 col-sm-8 offset-md-3 offset-sm-2">
            <input name="user-name" type="text" class="form-control col-md-9 col-sm-9 col-xs-9 my-1" placeholder="用户名" />
            <button type="submit" class="btn btn-primary col-md-2 col-sm-2 col-xs-2 my-1">登录</button>
        </form>
    </body>
</html>
